Repository ScicraftLearn/Minelabs, pull requests merged in 2022-11, with the labels that each got.

#441 Lct fixes
  src/main/java/be/uantwerpen/minelabs/block/LewisBlock.java
  src/main/java/be/uantwerpen/minelabs/block/entity/LewisBlockEntity.java
  src/main/java/be/uantwerpen/minelabs/gui/lewis_gui/LewisBlockScreenHandler.java
  src/main/java/be/uantwerpen/minelabs/gui/lewis_gui/LewisScreen.java
  src/main/resources/assets/minelabs/models/block/lewis_block.json
  src/main/resources/assets/minelabs/textures/block/lewiscrafting/crafting_progress/cp0.png
  src/main/resources/assets/minelabs/textures/block/lewiscrafting/crafting_progress/cp10.png
  src/main/resources/assets/minelabs/textures/block/lewiscrafting/crafting_progress/cp12.png
  src/main/resources/assets/minelabs/textures/block/lewiscrafting/crafting_progress/cp14.png
  src/main/resources/assets/minelabs/textures/block/lewiscrafting/crafting_progress/cp16.png
  src/main/resources/assets/minelabs/textures/block/lewiscrafting/crafting_progress/cp18.png
  src/main/resources/assets/minelabs/textures/block/lewiscrafting/crafting_progress/cp2.png
  src/main/resources/assets/minelabs/textures/block/lewiscrafting/crafting_progress/cp20.png
  src/main/resources/assets/minelabs/textures/block/lewiscrafting/crafting_progress/cp4.png
  src/main/resources/assets/minelabs/textures/block/lewiscrafting/crafting_progress/cp6.png
  src/main/resources/assets/minelabs/textures/block/lewiscrafting/crafting_progress/cp8.png
  src/main/resources/assets/minelabs/textures/block/lewiscrafting/crafting_table_front.png
  src/main/resources/assets/minelabs/textures/block/lewiscrafting/crafting_table_side.png
  src/main/resources/assets/minelabs/textures/block/lewiscrafting/crafting_table_top.png
  src/main/resources/assets/minelabs/textures/block/lewiscrafting/double_chest.png
  src/main/resources/assets/minelabs/textures/block/lewiscrafting/furnace.png
  src/main/resources/assets/minelabs/textures/block/lewiscrafting/lewis_block.png
  src/main/resources/assets/minelabs/textures/block/lewiscrafting/lewis_block_inventory_default.png
  src/main/resources/assets/minelabs/textures/block/lewiscrafting/lewis_block_inventory_default2.png
  src/main/resources/assets/minelabs/textures/block/lewiscrafting/planks_oak.png
  src/main/resources/assets/minelabs/textures/gui/lewis_block/lewis_block_inventory.png
  src/main/resources/assets/minelabs/textures/gui/lewis_block/lewis_block_inventory_craftable.png
Labels: Lewis Crafting Table

#442 Lewis valence
  src/main/java/be/uantwerpen/minelabs/crafting/molecules/BondManager.java
  src/main/java/be/uantwerpen/minelabs/crafting/molecules/ValenceElectrons.java
  src/main/java/be/uantwerpen/minelabs/gui/lewis_gui/LewisScreen.java
  src/main/java/be/uantwerpen/minelabs/item/ItemModels.java
  src/main/java/be/uantwerpen/minelabs/item/Items.java
  src/main/resources/assets/minelabs/models/item/internal_bonds/valence_e_1.json
  src/main/resources/assets/minelabs/models/item/internal_bonds/valence_e_2.json
  src/main/resources/assets/minelabs/models/item/internal_bonds/valence_n_1.json
  src/main/resources/assets/minelabs/models/item/internal_bonds/valence_n_2.json
  src/main/resources/assets/minelabs/models/item/internal_bonds/valence_s_1.json
  src/main/resources/assets/minelabs/models/item/internal_bonds/valence_s_2.json
  src/main/resources/assets/minelabs/models/item/internal_bonds/valence_w_1.json
  src/main/resources/assets/minelabs/models/item/internal_bonds/valence_w_2.json
  src/main/resources/assets/minelabs/models/item/phosphorus_atom.json
  src/main/resources/assets/minelabs/models/item/strontium_atom.json
  src/main/resources/assets/minelabs/models/item/valence_electrons.json
  src/main/resources/assets/minelabs/textures/item/internal_bonds/valence_electron_1.png
  src/main/resources/assets/minelabs/textures/item/internal_bonds/valence_electron_2.png
  src/main/resources/assets/minelabs/textures/item/manganese.png
  src/main/resources/assets/minelabs/textures/item/strontium.png
Labels: Lewis Crafting Table

#427 fixes types not properly registered
  src/main/java/be/uantwerpen/minelabs/block/entity/IonicBlockEntity.java
  src/main/java/be/uantwerpen/minelabs/block/entity/LewisBlockEntity.java
  src/main/java/be/uantwerpen/minelabs/crafting/CraftingRecipes.java
  src/main/java/be/uantwerpen/minelabs/crafting/ionic/IonicRecipe.java
  src/main/java/be/uantwerpen/minelabs/crafting/lewis/MoleculeRecipe.java
Labels: Lewis Crafting Table, ionic crafting table

#444 Small fixes Electric Field Sensor
  src/main/java/be/uantwerpen/minelabs/block/TimeFreezeBlock.java
  src/main/java/be/uantwerpen/minelabs/block/entity/ChargedBlockEntity.java
  src/main/java/be/uantwerpen/minelabs/block/entity/ElectricFieldSensorBlockEntity.java
  src/main/java/be/uantwerpen/minelabs/renderer/ElectricFieldSensorRenderer.java
  src/main/resources/assets/minelabs/blockstates/animated_charged.json
  src/main/resources/assets/minelabs/blockstates/charged_placeholder.json
  src/main/resources/assets/minelabs/blockstates/electric_field_sensor.json
Labels: Electric field

#447 Lct recipe visualization
  src/main/java/be/uantwerpen/minelabs/gui/lewis_gui/LewisBlockScreenHandler.java
  src/main/java/be/uantwerpen/minelabs/gui/lewis_gui/LewisScreen.java
  src/main/java/be/uantwerpen/minelabs/util/Graph.java
  src/main/resources/assets/minelabs/lang/en_us.json
  src/main/resources/assets/minelabs/lang/nl_be.json
  src/main/resources/assets/minelabs/lang/nl_nl.json
Labels: Lewis Crafting Table
