Repository ScicraftLearn/Minelabs, pull requests merged in 2023-09, with the labels that each got.

#773 General fixes
  src/client/java/be/minelabs/client/item/Erlenmeyers.java
  src/client/java/be/minelabs/client/renderer/block/entity/BlockEntityRenderers.java
  src/client/java/be/minelabs/client/renderer/block/entity/ErlenmeyerStandRenderer.java
  src/main/generated/assets/minelabs/lang/en_us.json
  src/main/generated/assets/minelabs/lang/nl_be.json
  src/main/generated/assets/minelabs/lang/nl_nl.json
  src/main/generated/data/minelabs/loot_tables/lasertool/blocks/stripped_warped_stem.json
  src/main/java/be/minelabs/block/Blocks.java
  src/main/java/be/minelabs/block/blocks/AtomicFloor.java
  src/main/java/be/minelabs/block/blocks/ErlenmeyerBlock.java
  src/main/java/be/minelabs/block/blocks/IonicBlock.java
  src/main/java/be/minelabs/block/blocks/LewisBlock.java
  src/main/java/be/minelabs/block/entity/BlockEntities.java
  src/main/java/be/minelabs/block/entity/ErlenmeyerBlockEntity.java
  src/main/java/be/minelabs/item/ItemGroups.java
  src/main/java/be/minelabs/item/Items.java
  src/main/java/be/minelabs/item/items/ErlenmeyerItem.java
  src/main/java/be/minelabs/item/reaction/FlammableReaction.java
  src/main/java/be/minelabs/item/reaction/Reaction.java
  src/main/java/be/minelabs/science/Molecule.java
  src/main/java/be/minelabs/screen/LewisBlockScreenHandler.java
  src/main/java/be/minelabs/state/property/Properties.java
  src/main/java/be/minelabs/util/Tags.java
  src/main/resources/assets/minelabs/blockstates/ionic_block.json
  src/main/resources/assets/minelabs/blockstates/lab/erlenmeyer_stand.json
  src/main/resources/assets/minelabs/blockstates/lewis_block.json
  src/main/resources/assets/minelabs/lang/en_us.static.json
  src/main/resources/assets/minelabs/lang/nl_be.static.json
  src/main/resources/assets/minelabs/models/block/lab/erlenmeyer_stand.json
  src/main/resources/assets/minelabs/models/block/lab/erlenmeyer_stand_alt0.json
  src/main/resources/assets/minelabs/models/block/lab/erlenmeyer_stand_alt1.json
  src/main/resources/assets/minelabs/models/block/lab/erlenmeyer_stand_counter1.json
  src/main/resources/assets/minelabs/models/block/lab/erlenmeyer_stand_counter1_alt0.json
  src/main/resources/assets/minelabs/models/block/lab/erlenmeyer_stand_counter1_alt1.json
  src/main/resources/assets/minelabs/models/block/lab/erlenmeyer_stand_counter2.json
  src/main/resources/assets/minelabs/models/block/lab/erlenmeyer_stand_counter2_alt0.json
  src/main/resources/assets/minelabs/models/block/lab/erlenmeyer_stand_counter2_alt1.json
  src/main/resources/assets/minelabs/models/item/erlenmeyer/erlenmeyer_ethanol.json
  src/main/resources/assets/minelabs/models/molecules/c2h6o.json
  src/main/resources/data/minelabs/advancements/molecules/make_c2h6o.json
  src/main/resources/data/minelabs/loot_tables/entities/entropy_creeper.json
  src/main/resources/data/minelabs/recipes/molecule_crafting/molecule_c2h6o.json
  src/main/resources/data/minelabs/tags/blocks/flammable_blacklist.json
  src/main/resources/data/minelabs/tags/blocks/flammable_blocks.json
  src/main/resources/data/minelabs/tags/worldgen/biome/allow_qfields.json
  src/main/resources/data/minelabs/tags/worldgen/biome/flammable_biomes.json
Labels: lewis crafting table, mologram, entropy mob, chemic effect, cosmetics

#771 Chemical improvements
  src/client/java/be/minelabs/client/renderer/entity/EntityRenderers.java
  src/main/java/be/minelabs/entity/CorrosiveEntity.java
  src/main/java/be/minelabs/entity/Entities.java
  src/main/java/be/minelabs/item/reaction/CorrosiveReaction.java
  src/main/java/be/minelabs/item/reaction/ExplosiveReaction.java
  src/main/java/be/minelabs/item/reaction/FlammableReaction.java
  src/main/java/be/minelabs/science/Molecule.java
Labels: chemic effect

#776 Recipe improvements
  src/client/java/be/minelabs/client/gui/screen/LewisScreen.java
  src/client/java/be/minelabs/client/mixin/LabCoatArmorItemMixin.java
  src/client/java/be/minelabs/client/network/ClientNetworking.java
  src/main/java/be/minelabs/block/blocks/IonicBlock.java
  src/main/java/be/minelabs/block/blocks/LewisBlock.java
  src/main/java/be/minelabs/block/entity/IonicBlockEntity.java
  src/main/java/be/minelabs/block/entity/LewisBlockEntity.java
  src/main/java/be/minelabs/network/IonicDataPacket.java
  src/main/java/be/minelabs/network/LewisDataPacket.java
  src/main/java/be/minelabs/recipe/ionic/IonicInventory.java
  src/main/java/be/minelabs/recipe/ionic/IonicRecipe.java
  src/main/java/be/minelabs/recipe/lewis/LewisCraftingGrid.java
  src/main/java/be/minelabs/recipe/lewis/MoleculeRecipe.java
  src/main/java/be/minelabs/recipe/molecules/Molecule.java
  src/main/java/be/minelabs/recipe/molecules/MoleculeRecipeJsonFormat.java
  src/main/java/be/minelabs/screen/IonicBlockScreenHandler.java
  src/main/java/be/minelabs/screen/LewisBlockScreenHandler.java
  src/main/resources/data/minelabs/recipes/molecule_crafting/molecule_alcl3.json
  src/main/resources/data/minelabs/recipes/molecule_crafting/molecule_alh3.json
  src/main/resources/data/minelabs/recipes/molecule_crafting/molecule_aln.json
  src/main/resources/data/minelabs/recipes/molecule_crafting/molecule_bn.json
  src/main/resources/data/minelabs/recipes/molecule_crafting/molecule_sic.json
  src/main/resources/data/minelabs/recipes/molecule_crafting/molecule_sio2.json
  src/main/resources/data/minelabs/recipes/molecule_crafting/molecule_so3.json
Labels: lewis crafting table, ionic crafting table
